---
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Briefcase from "@/icons/Briefcase.astro";
import Code from "@/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import Home from "@/components/Home.astro";
import UserScan from "@/icons/UserScan.astro";
import AboutMe from "@/components/AboutMe.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
  title="Emiliano Bregains | Desarrollador y Programador Web."
  description="Contrata a Emiliano Bregains para solucionar tus problemas y necesidades con todo el poder del software y la web."
>
  <main class="p-2">
    <SectionContainer
      class="h-[78vh] md:h-[84vh] mb-[4vh] p-7 px-9 animacion-inicio z-10"
      id="inicio"
    >
      <Home />
      <div
        class="backdrop-blur-sm w-[110%] h-[110%] opacity-0 absolute -top-10 right-0 blur-in"
      >
      </div>
    </SectionContainer>

    <SectionContainer
      class="pt-6 mb-24 lg:mb-32 lg:scale-75 scale-up"
      id="experiencia"
    >
      <h2 class="font-semibold text-3xl mb-10 flex items-center gap-4">
        <Briefcase class="size-12" />
        {i18n.EXPERIENCE_TITLE}
      </h2>
      <Experience class="ml-6 backdrop-blur-xl" />
      <div
        class="backdrop-blur-md w-[110%] h-[110%] absolute -top-10 right-0 blur-out"
      >
      </div>
    </SectionContainer>

    <SectionContainer class="pt-6 mb-24 lg:mb-32" id="proyectos">
      <h2 class="font-semibold text-3xl mb-10 flex items-center gap-4">
        <Code class="size-12" />
        {i18n.PROJECTS_TITLE}
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer class="pt-6 mb-12 lg:mb-32" id="sobre-mi">
      <h2 class="font-semibold text-3xl mb-10 flex items-center gap-4">
        <UserScan class="size-12" />
        {i18n.ABOUT_ME_TITLE}
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>

<style is:global>
  .animacion-inicio {
    will-change: transform;
    animation: linear 1s home forwards;
    animation-timeline: scroll();
    animation-range: 0vh 65vh;
  }
  .scale-up {
    backface-visibility: hidden;
    animation: ease-in-out scale-up forwards;
    animation-timeline: scroll();
    animation-range: 0vh 60vh;
  }
  @media (min-width: 1100px) {
    .animacion-inicio {
      animation-range: 0vh 85vh;
    }
    .scale-up {
      animation-range: 0vh 80vh;
    }
  }

  @keyframes home {
    30% {
      transform: translate3d(-5vw, 30vh, 0);
    }
    to {
      transform: translate3d(-100vw, 100vh, 0);
    }
  }

  @keyframes scale-up {
    to {
      transform: scale(1);
    }
  }
  .blur-out {
    will-change: opacity;
    animation: ease-in-out blur-out forwards;
    animation-timeline: scroll();
    animation-range: 30vh 80vh;
  }
  @keyframes blur-out {
    50% {
      transform: scaleY(100%);
    }
    to {
      opacity: 0;
      transform: scaleY(0);
    }
  }
</style>
