---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="flex gap-y-12 gap-x-4 flex-col-reverse items-center justify-center lg:flex-row pt-4"
>
  <div class="text-lg text-pretty flex flex-col gap-y-4">
    <p>
      {i18n.ABOUT_ME_PARAGRAPH_1}
    </p>
    <p>
      {i18n.ABOUT_ME_PARAGRAPH_2}
    </p>
    <p>
      {i18n.ABOUT_ME_PARAGRAPH_3}
    </p>
  </div>
  <div class="flex w-full justify-center group">
    <img
      src="/profile_picture.webp"
      alt="Emiliano Bregains. He is in a mountain, above the clouds. the background is only sky."
      class="relative size-64 sm:size-72 rounded-lg dark:shadow-white/15 rotate-6 border-4 p-4 border-purple-800/70 dark:border-purple-200/70 z-30 group-hover:rotate-[4deg] transition-all"
    />
    <div
      class="absolute size-64 sm:size-72 border-4 z-20 rounded-lg border-purple-800/40 dark:border-purple-200/40 group-hover:-rotate-2 transition-all group-hover:scale-95"
    >
    </div>
    <div
      class="absolute size-64 sm:size-72 -rotate-6 border-4 z-20 rounded-lg border-purple-800/10 dark:border-purple-200/10 group-hover:-rotate-[9deg] transition-all group-hover:scale-90"
    >
    </div>
  </div>
</div>

<style></style>
