---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="flex justify-evenly items-center py-5 w-full lg:w-[980px] mx-auto"
>
  <nav class="flex flex-col md:flex-row lg:gap-x-10 opacity-80">
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Projectos</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
  </nav>
  <ThemeToggle />
</header>
