---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ThemeToggle from "./ThemeToggle.astro";
import LanguagePicker from "./LanguagePicker.astro";
import Logo from "@/icons/Logo.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="sticky top-0 m-0 rounded-lg z-50 bg-gray-50 dark:bg-neutral-900">
  <div
    class="flex justify-between items-center px-5 h-[12vh] w-full xl:px-0 lg:w-[1200px] mx-auto"
  >
    <div class="flex items-center gap-2">
      <p
        class="font-black relative z-20 text-xl md:text-2xl lg:text-3xl uppercase light: dark:text-white"
      >
        Emiliano Bregains
      </p>
    </div>
    <div
      class="inline-flex items-center justify-between gap-x-1 sm:gap-x-2 md:gap-x-3 lg:gap-x-4"
    >
      <nav
        class="hidden lg:flex flex-col relative flex-1 gap-x-1 py-1 sm:flex-row md:gap-x-4 lg:gap-x-10"
      >
        <!-- <div
          id="ball"
          class="hidden lg:block absolute top-[25%] -left-32 size-6 opacity-0 bg-yellow-500 dark:bg-yellow-700 rounded-full"
        >
        </div> -->
        <a
          class="relative block font-light px-4 py-0 sm:py-2 rounded-full transition dark:text-white hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="experiencia"
          href="#experiencia"
        >
          {t(`nav.experiencia`)}
        </a>
        <a
          class="relative block font-light px-4 py-0 sm:py-2 rounded-full transition dark:text-white hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="proyectos"
          href="#proyectos"
        >
          {t(`nav.proyectos`)}
        </a>
        <a
          class="relative block font-light px-4 py-0 sm:py-2 rounded-full transition dark:text-white hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="sobre-mi"
          href="#sobre-mi"
        >
          {t(`nav.sobre-mi`)}
        </a>
        <a
          class="relative block font-light px-4 py-0 sm:py-2 rounded-full transition dark:text-white hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="contacto"
          href="https://www.linkedin.com/in/ebregains/"
        >
          {t(`nav.contacto`)}
        </a>
      </nav>
    </div>
    <div class="flex items-center gap-x-0 ssm:gap-x-8">
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </div>
</header>

<style>
  .fade-in {
    animation: fade-in 0.5s 1.5s linear forwards;
    opacity: 0;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  #ball {
    animation: ball linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 600vh;
  }

  @keyframes ball {
    20% {
      opacity: 1;
      left: 11vw;
      background:;
    }
    35% {
      opacity: 1;
      left: 11vw;
      background:;
    }
    50% {
      left: 13vw;
    }
    75% {
      left: 82vw;
    }
    to {
    }
  }
</style>
