---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ThemeToggle from "./ThemeToggle.astro";
import LanguagePicker from "./LanguagePicker.astro";
import Logo from "@/icons/Logo.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="sticky top-0 sm:top-4 m-0 sm:m-4 rounded-lg z-50">
  <div
    class="flex justify-between items-center px-5 py-2 w-full xl:px-0 lg:w-[980px] mx-auto"
  >
    <div class="inline-flex gap-x-1 sm:gap-x-5 md:gap-x-8">
      <Logo class="w-6 h-auto" />
      <nav
        class="flex flex-col gap-x-1 py-1 sm:flex-row md:gap-x-4 lg:gap-x-10"
      >
        <a
          class="relative block font-medium px-2 py-0 sm:py-2 transition text-black/80 dark:text-white/80 hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="experiencia"
          href="#experiencia"
        >
          {t(`nav.experiencia`)}
        </a>
        <a
          class="relative block font-medium px-2 py-0 sm:py-2 transition text-black/80 dark:text-white/80 hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="proyectos"
          href="#proyectos"
        >
          {t(`nav.proyectos`)}
        </a>
        <a
          class="relative block font-medium px-2 py-0 sm:py-2 transition text-black/80 dark:text-white/80 hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="sobre-mi"
          href="#sobre-mi"
        >
          {t(`nav.sobre-mi`)}
        </a>
        <a
          class="relative block font-medium px-2 py-0 sm:py-2 transition text-black/80 dark:text-white/80 hover:text-yellow-500 dark:hover:text-yellow-400 fade-in"
          aria-label="contacto"
          href="#contacto"
        >
          {t(`nav.contacto`)}
        </a>
      </nav>
    </div>
    <div class="flex items-center gap-x-0 ssm:gap-x-8">
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header div nav a");

    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-500");
              item.classList.add("dark:text-yellow-500");
              item.classList.add("font-semibold");
              item.classList.add("text-xl");
            } else {
              item.classList.remove("text-yellow-500");
              item.classList.remove("dark:text-yellow-500");
              item.classList.remove("font-semibold");
              item.classList.remove("text-xl");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.2,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  header {
    animation: blur-bg 1s linear both;
    animation-timeline: scroll();
    animation-range: 0px 300px;
  }

  @keyframes blur-bg {
    to {
      @apply backdrop-blur-xl bg-black/10 shadow-lg;
    }
  }

  .fade-in {
    animation: fade-in 0.5s linear forwards;
    opacity: 0;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
</style>
