---
import Corner from "@/icons/Corner.astro";
---

<section
  class={`${Astro.props.class} relative w-full mx-auto px-4 lg:w-[1200px] scroll-mt-32 sm:scroll-mt-24`}
  id={Astro.props.id}
>
  <slot />
</section>
